.DS_Store
ArtifactDB
ArtifactDB-lock
Artifacts
EditorInstance.json
PackageCache/
PackageManager/
ShaderCache.db
ShaderCache/
SourceAssetDB-lock
StateCache/
TempArtifacts/

APIUpdater/
AnnotationManager
Bee/
BuildPlayer.prefs
ScriptAssemblies/
ScriptMapper
Search/
SourceAssetDB
Style.catalog
