*Cache/
.DS_Store
APIUpdater/
AnnotationManager
ArtifactDB
ArtifactDB-lock
Artifacts
Bee/
BuildPlayer.prefs
EditorInstance.json
EditorSnapSettings.asset
EditorUserBuildSettings.asset
InspectorExpandedItems.asset
LastSceneManagerSetup.txt
PackageManager/
SceneVisibilityState.asset
ScriptAssemblies/
ScriptMapper
Search/
ShaderCache.db
SourceAssetDB
SourceAssetDB-lock
Style.catalog
TempArtifacts/
com.unity.*
expandedItems
gfu/
