.DS_Store
APIUpdater/
AnnotationManager
ArtifactDB
ArtifactDB-lock
Artifacts
Bee/
BuildPlayer.prefs
EditorInstance.json
EditorSnapSettings.asset
EditorUserBuildSettings.asset
LastSceneManagerSetup.txt
PackageCache/
PackageManager/
SceneVisibilityState.asset
ScriptAssemblies/
ScriptMapper
Search/
ShaderCache.db
ShaderCache/
SourceAssetDB
SourceAssetDB-lock
StateCache/
Style.catalog
TempArtifacts/
expandedItems
gfu/
